<div class='flex h-full w-full max-w-7xl flex-col space-y-4'>
  <p class='text-2xl'>Add message</p>
  {{> message-form}}
  <p class='text-2xl'>Last messages</p>
  <div class='grid grid-cols-2 gap-4'>
    {{#each messages}}
      {{>message message=.}}
    {{/each}}
  </div>
</div>