<ul class='flex h-full w-full max-w-7xl items-center divide-x space-x-2 rounded-md bg-slate-100 bg-opacity-20 backdrop-blur-xl p-4 shadow-[0_8px_30px_rgb(0,0,0,0.12)]'>
  {{#if (isActiveRoute activeRoute routes)}}{{/if}}
  {{#each routes}}
  <li
    class='text-slate-600 hover:underline first:pl-0 pl-2 {{#if (isActiveRoute ../activeRoute this)}}font-bold underline{{/if}}'>
    <a href='{{this.path}}'>{{this.title}}</a>
  </li>
  {{/each}}
</ul>