<div
  class='flex w-full max-w-xs flex-col space-y-2 rounded-md border border-slate-50 bg-slate-100 bg-opacity-20 p-4 font-mono shadow-[0_8px_30px_rgb(0,0,0,0.12)] backdrop-blur-xl'
>
  <p>Last number: <span class='__number__lastNumber__'></span></p>
  <p>Prev number: <span class='__number__prevNumber__'></span></p>
  <hr />
  <p class='text-xl'>Avg number:
    <span class='__number__avgNumber__ font-medium'></span></p>
</div>